<header class="site-header">
  <div class="left">
    <div id="hamburger" class="hamburger">
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
    </div>
    <a class="image-link brand" href="{{site.baseurl}}">
      <img src="{{site.baseurl}}/assets/img/relate-logo-white.svg" />
    </a>
  </div>
  <div class="right">
    <a class="image-link waffle" href="https://waffle.io/lucidsoftware/relate">
      <img src="{{site.baseurl}}/assets/img/waffle.svg" />
    </a>
    <a class="image-link github" href="https://github.com/lucidsoftware/relate">
      <img src="{{site.baseurl}}/assets/img/github-inverted.png" />
    </a>
    <input id="docsearch-input" type="text" placeholder="Search documentation" />
  </div>
</header>
