<nav id="sliding-nav" class="sliding">
  <ul>
    <li><a href="{{site.baseurl}}/docs/overview.html">Overview</a></li>
    <li><a href="{{site.baseurl}}/docs/getting-started.html">Getting Started</a></li>
    <li><a href="{{site.baseurl}}/docs/writing-queries.html">Writing Queries</a></li>
    <li><a href="{{site.baseurl}}/docs/retrieving-data.html">Retrieving Data</a></li>
    <li><a href="{{site.baseurl}}/docs/faq.html">FAQ</a></li>
    <li><a href="{{site.baseurl}}/api/1.13.0/index.html">Browse API</a></li>
  </ul>
</nav>
