// base styles used throughout the site
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0;
  position: relative;
  margin: 0;
  min-height: 100%;

  color: $font-color-dark;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

body {
  top: $site-header-height;
}

a {
  color: $darker-clean;
  cursor: pointer;
  text-decoration: none;

  transition: color ease .5s;

  &:hover {
    color: $butter;
  }
}

.btn {
  @include drop-shadow-2;
  padding: 14px 20px;

  background-color: $clean;
  color: $font-color-dark;
  font-size: 24px;

  transition: all ease .5s;

  &:hover {
    @include drop-shadow-3;

    color: $eggplant;
  }
}
