// styling for syntax highlighting
.highlight {
  @include drop-shadow-2;
  margin: 0;
  padding: 10px 30px;

  background-color: $eggshell;
  overflow-x: auto;

  .language-scala {
    color: $navy-blue;

    .c1 { color: $leather; }
    .k, .kt { color: $navy-blue; font-weight: 700; }
    .s { color: $coral; }
  }
}

.highlighter-rouge {
  background-color: rgba($leather, .3);
  padding: 2px 4px;
  line-height: 24px;
}
