.doc {
  .hero {
    min-height: 300px;
    padding: 60px 0px;

    background-color: $coral;
    color: $eggshell;
    text-align: center;

    .page-title {
      margin: 0;

      font-size: 100px;
    }

    .page-subtitle {
      margin: 0;
      margin-top: 20px;

      font-size: 32px;
    }
  }

  .doc-content {
    padding: 60px 0px;

    line-height: 22px;

    h2 {
      margin: 30px auto;

      font-size: 32px;

      &:target:before {
        content: '';
        display: block;
        height: ($site-header-height + 20);
        margin: -($site-header-height + 20) 0 0;
      }
    }

    .highlight {
      margin: 34px 0px;

      background-color: #eaf6f6;
    }
  }

  .pagination {
    padding-bottom: 80px;

    text-align: center;

    .page-name {
      font-size: 24px;
    }

    .mega-octicon {
      margin: 0px 10px;
    }
  }
}
