footer.site-footer {
  height: $site-footer-height;

  background-color: $navy-blue;
  color: white;

  .created-by {
    display: inline-block;

    height: $site-footer-height;
    width: 100%;

    font-size: 20px;
    line-height: $site-footer-height;
    text-align: center;
  }
}
