.home {
  .hero {
    min-height: calc(98vh - #{$site-header-height});
    padding: 50px;

    background-color: white;
    color: $eggplant;
    text-align: center;

    .title-container {
      position: absolute;
      left: 0;
      top: 40%;
      right: 0;
      transform: translateY(-50%);
    }

    .title {
      max-width: 800px;
      width: 100%;
    }

    .subtitle {
      margin-top: 40px;

      font-size: 36px;
    }
  }

  section {
    position: relative;

    padding: 150px 0;

    .section-title {
      margin-top: 0;
      margin-bottom: 30px;

      font-size: 36px;
    }

    p {
      margin: 20px 0;

      font-size: 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  section.plain-sql {
    background-color: $clean;
  }

  section.performance, section.sbt {
    .section-title {
      margin-bottom: 20px;
    }
  }

  .image-block {
    @include drop-shadow-1;

    margin: 30px auto;
    padding: 20px;
    width: 80%;

    img { width: 100%; }

    .caption {
      margin-top: 10px;

      font-size: 18px;
      text-align: center;
    }
  }

  section.sbt {
    background-color: $butter;

    .highlight {
      background-color: lighten($clean, 18%);
    }
  }
}
