// layout classes, like the grid system
.left {
  float: left;
}

.right {
  float: right;
}

%clearfix:after {
    display: block;
    clear: both;
    content: '';
}

.container {
  width: 100%;
  max-width: $screen-lg;
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media #{$large-stop} {
    padding: 0 10px;
  }
}

.row {
    @extend %clearfix;

    & + & {
        margin-top: $grid-vertical-spacing;
    }
}

[class^="col-"] {
    float: left;
    margin-right: $grid-horizontal-spacing;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &:last-child {
        margin-right: 0%;
    }
}

//----- Columns (Automatic)
.col-1   { width: (100% / 12) - ($grid-horizontal-spacing * 11 / 12); }
.col-2   { width: (100% / 6) - ($grid-horizontal-spacing * 10 / 12); }
.col-3   { width: (100% / 4) - ($grid-horizontal-spacing * 9 / 12); }
.col-4   { width: (100% / 3) - ($grid-horizontal-spacing * 8 / 12); }
.col-5   { width: (100% / 2.4) - ($grid-horizontal-spacing * 7 / 12); }
.col-6   { width: (100% / 2) - ($grid-horizontal-spacing * 6 / 12); }
.col-7   { width: (100% / 1.714285714285714) - ($grid-horizontal-spacing * 5 / 12); }
.col-8   { width: (100% / 1.5) - ($grid-horizontal-spacing * 4 / 12); }
.col-9   { width: (100% / 1.333333333333333) - ($grid-horizontal-spacing * 3 / 12); }
.col-10  { width: (100% / 1.2) - ($grid-horizontal-spacing * 2 / 12); }
.col-11  { width: (100% / 1.090909090909091) - ($grid-horizontal-spacing * 1 / 12); }
.col-12  { width: 100%; }
