nav.sliding {
  @include drop-shadow-3;

  position: fixed;
  left: -$nav-width - 10;
  top: $site-header-height;
  z-index: 99;

  height: calc(100vh - #{$site-header-height});
  width: $nav-width;

  background-color: lighten($clean, 20%);
  color: $eggplant;
  transition: left ease .5s;

  ul {
    margin: 0px;
    padding: 0px;

    list-style: none;
  }

  li a {
    display: block;

    border-bottom: 1px solid rgba($eggplant, .3);
    padding: 20px;

    color: $eggplant;

    transition: background-color ease .5s;

    &:hover {
      background-color: $eggplant;
      color: $butter;
    }
  }

  &.active {
    left: 0;
  }
}
