---
layout: main
---
<div class="doc">
  <div class="hero">
    <div class="container">
      <h1 class="page-title">{{page.title}}</h1>
      {% if page.subtitle %}<h3 class="page-subtitle">{{page.subtitle}}</h3>{% endif %}
    </div>
  </div>
  <div class="doc-content container">
  {{content}}
  </div>
  <div class="pagination">
    <div class="container">
      {% if page.previous %}
      <a class="next left" href="{{site.baseurl}}{{page.previous.url}}">
        <span class="mega-octicon octicon-arrow-left"></span>
        <span class="page-name">{{page.previous.name}}</span>
      </a>
      {% endif %}
      {% if page.next %}
      <a class="next right" href="{{site.baseurl}}{{page.next.url}}">
        <span class="page-name">{{page.next.name}}</span>
        <span class="mega-octicon octicon-arrow-right"></span>
      </a>
      {% endif %}
    </div>
  </div>
</div>
